@media screen and (max-width: 768px) {
    .quote-box {
        max-width: 90%;
        font-size: 1.3rem;
        font-weight: 400;
      }

    .quote-box::before, .quote-box::after {
        font-size: 4.7rem;
    }

}